
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/


# Ignore Allure results
allure-results/
allure-report/


# Ignore screenshots and test result attachments
test-results/
*.png

# Ignore individual Playwright result JSON files
*.json

# If you want to ignore specific JSON files inside a directory like this:
# E.g. only ignore `*-result.json` files
**/*-result.json
